@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");

@theme {
  --color-primary-200: #ffbf00;
  --color-primary-100: #ffc929;
  --color-secondary-200: #00b050;
  --color-secondary-100: #0b1a78;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  @apply bg-blue-50 text-neutral-700;
}
